<% post.comments.each do |comment| %>
    <div class="comment" id="comment-<%=comment.id%>">
        <span class="comment-author"> <%= comment.user.username %> </span>
        <%= comment.body %>

        <%= turbo_frame_tag "comment-likes" do %>
            <%# binding.pry %>
            <% if comment_liked?(comment, current_user)%>  
                <%= button_to "", post_comment_likes_path(post, comment), 
                    class: "post-actions-unlike", method: :delete%>
            <%else%> 
                <%= button_to "", post_comment_likes_path(post, comment), 
                    class: "post-actions-like"%>
            <%end%>
        <% end %>

    </div>
<% end %>